---
# This playbook contains common plays that will be run on all nodes.

- name: xvfb | Install xvfb package (Debian based)
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }} update_cache=yes"
  become: yes
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
  tags: package
  with_items:
   - xvfb
  changed_when: False

- name: xvfb | Install xvfb package (RedHat based)
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }} update_cache=yes"
  become: yes
  when: (ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux')
  tags: package
  with_items:
   - Xvfb
  changed_when: False

- name: xvfb | Get pkgutil
  shell: "echo y | pkgadd -d http://get.opencsw.org/now all"
  when: ((ansible_distribution == 'Solaris') and (ansible_distribution_version not in ['11.1']))  
  ignore_errors: true
  become: yes

#OK wget  http://mirror.opencsw.org/opencsw/

- debug: msg="Check available package at https://www.opencsw.org"

- name: xvfb | Install xvfb package (Solaris based)
  #action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }} update_cache=yes"
  pkgutil: name={{ item }} state=present
  when: ((ansible_distribution == 'Solaris') and (ansible_distribution_version not in ['11.1']))
  with_items:
   - CSWXvfb

- name: xvfb | Remove /tmp/.X1* directory
  file:
    path: "{{ item }}"
    state: absent
  with_fileglob:
    - "/tmp/.X1*"
  become: yes
  changed_when: false

#Owner of /tmp/.X11-unix should be set to root on RedHat for Jenkins Xvfb plugin
- name: xvfb | Create /tmp/.X11-unix directory
  file: path=/tmp/.X11-unix state=directory owner=root group=root mode=0777
  become: yes
  changed_when: false

- name: xvfb | Copy the xvfb init script
  copy: src=xvfb.sh dest=/etc/init.d/xvfb mode=0755
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  become: yes
  tags: configure

#- name: xvfb | Start the xvfb service
#  service: name=xvfb state=started enabled=true
#  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
#  become: yes
#  tags: service
