---
# This playbook contains common plays that will be run on all nodes.

- name: xvfb | Install xvfb package (Debian based)
  apt: pkg={{ item }} state=present update_cache=yes
  sudo: yes
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  tags: package
  with_items:
   - xvfb

- name: xvfb | Install xvfb package (RedHat based)
  action: yum name={{ item }} state=present
  sudo: yes
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'
  tags: package
  with_items:
   - Xvfb

- name: xvfb | Copy the xvfb init script
  copy: src=xvfb-{{ ansible_distribution }}.sh dest=/etc/init.d/xvfb mode=0755
  sudo: yes
  tags: configure

- name: xvfb | Start the xvfb service
  service: name=xvfb state=started enabled=true
  sudo: yes
  tags: service
